@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");
.landing {
  display: flex;
  font-family: sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  font-family: "Fraunces";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
  font-size: 12px;
  padding-right: 30px;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: hsl(51deg, 100%, 49%);
}

label {
  color: hsl(0deg, 0%, 100%);
  font-family: "Barlow";
  font-size: 22px;
}

/* Header Section */
.landing-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing-header__arrow {
  height: 200px;
  padding-top: 50px;
}
.landing-header__background {
  background: url("../images/mobile/image-header.jpg") center center no-repeat;
  background-size: cover;
  -o-background-size: cover;
  padding: 0px 0px 215px 0px;
}
.landing-header__tittle {
  text-align: center;
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  word-spacing: 7px;
  letter-spacing: 11px;
  font-size: 34px;
  padding-top: 20px;
}
.landing-header__logo-name {
  font-size: 40px;
}
.landing-header__nav-bar {
  padding: 20px 50px 60px 30px;
}
.landing-header__nav-bar--right {
  float: right;
  padding-top: 15px;
}
.landing-header__nav-bar--contact {
  float: right;
}
.landing-header__nav-bar--contact-bubble {
  color: hsl(212deg, 27%, 19%);
  font-family: "Fraunces";
  font-size: 13px;
  background-color: white;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15%/50%;
}
.landing-header__nav-bar--left {
  float: left;
  padding-top: 6px;
}

/* Slogan Section */
.landing-slogan {
  padding: 0;
}
.landing-slogan__background-text {
  display: flex;
  background: url(../images/mobile/image-graphic-design.jpg) center center no-repeat;
  height: 110vh;
  background-position: 50%;
  background-size: cover;
  flex-direction: column-reverse;
  margin-top: 40px;
}
.landing-slogan__text-container {
  width: 100%;
  height: 300px;
}
.landing-slogan__text-article {
  margin-left: 45px;
  margin-right: 45px;
}
.landing-slogan__text-header {
  text-align: center;
}
.landing-slogan__text-header--title {
  font-family: "Fraunces";
  color: hsl(212deg, 27%, 19%);
  font-size: 38px;
  word-spacing: 2px;
  font-weight: bolder;
}
.landing-slogan__paragraph {
  color: hsl(232deg, 10%, 55%);
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.landing-slogan__footer {
  margin-top: 20px;
  text-align: center;
}
.landing-slogan__picture {
  padding: 0;
}
.landing-slogan__img-desktop {
  display: none;
}
.landing-slogan__img-mobile {
  width: 100%;
  display: flex;
  margin-top: 30px;
}
.landing-slogan__learn-more {
  color: hsl(212deg, 27%, 19%);
  font-family: "Fraunces";
  font-size: 14px;
  letter-spacing: 3px;
}

@media screen and (min-width: 768px) {
  .landing {
    display: flex;
    font-family: sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  /* Header Section */
  .landing-header {
    display: table;
    width: 100%;
    padding: 0;
  }
  .landing-header__arrow {
    padding-top: -1px;
  }
  .landing-header__background {
    background: url("../images/desktop/image-header.jpg") center center no-repeat;
    background-size: cover;
    -o-background-size: cover;
    padding: 5px 5px 300px 5px;
  }
  /* Slogan Section */
  .landing-slogan {
    padding: 0;
  }
  .landing-slogan__main-container {
    display: flex;
  }
  .landing-slogan__text-container {
    display: flex;
    align-items: center;
    width: 54%;
  }
  .landing-slogan__text-article {
    margin-left: 150px;
    margin-right: 100px;
  }
  .landing-slogan__text-header {
    text-align: left;
  }
  .landing-slogan__text-header--title {
    font-family: "Fraunces";
    color: hsl(212deg, 27%, 19%);
    font-size: 38px;
    word-spacing: 2px;
    font-weight: bolder;
  }
  .landing-slogan__paragraph {
    color: hsl(232deg, 10%, 55%);
    font-size: 16px;
    text-align: left;
    font-weight: normal;
  }
  .landing-slogan__footer {
    margin-top: 40px;
    text-align: left;
  }
  .landing-slogan__picture {
    padding: 0;
  }
  .landing-slogan__img-desktop {
    width: 100%;
    display: flex;
  }
  .landing-slogan__img-mobile {
    display: none;
  }
  .landing-slogan__background {
    width: 100%;
  }
  .landing-slogan__learn-more {
    color: hsl(212deg, 27%, 19%);
    font-family: "Fraunces";
    font-size: 14px;
    letter-spacing: 3px;
  }
}/*# sourceMappingURL=index.css.map */