@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

@import './token.scss';

body {
    font-family: $text-default-font-family;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    width: 100%;
    height: 100%;
    margin: 0;
}

h1 {
    font-family: $text-font-family-tittle;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
a {
    display: block;
    text-decoration: none;
    color: $color-white;
    font-size: $text-default-font-size;
    padding-right: 30px;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: $color-yellow;
}

label {
    color: $color-white;
    font-family: $text-font-family-sunnyside;
    font-size: $text-font-size-sunnyside;
}

/* Header Section */
.landing-header {
    display: table;
    width: 100%;
    height: 550px;
    padding: 0;

    &__background {
        background: url(../images/desktop/image-header.jpg) center center no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    &__tittle {
        text-align: center;
        color: $color-white;
        text-transform: uppercase;
        word-spacing: 7px;
        letter-spacing: 11px;
        font-size: 30px;
    }

    &__nav-bar {
        padding: 20px 50px 60px 30px;
        
        &--right {
            float: right;
            padding-top: 15px;
        }
        &--contact {
            float: right;
        }
        &--contact-bubble {
            color: $color-dark-blue;
            font-family: $text-font-family-tittle;
            font-size: 13px;
            background-color: white;
            padding-left: 30px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 15% / 50%;
        }
        &--left {
            float: left;
            padding-top: 6px;
        }
    }
}

/* Slogan Section */
.landing-slogan {
    padding: 0;

    &__main-container {
        display: flex;
    }
    &__text-container {
        width: 50%;
        display: flex;
        align-items: center;
        margin-left: 150px;
        margin-right: 100px;
    }
    &__text-header {
        text-align: left;
        &--title {
            font-family: $text-font-family-tittle;
            color: $color-vdd-grayish-blue;
            font-size: 38px;
            word-spacing: 2px;
            font-weight: bolder;
        }
    }
    &__paragraph {
        color: $color-d-grayish-blue;
        font-size: 16px;
    }
    &__footer{
        margin-top: 40px;
    }
    &__picture {
        width: 50%;
    }
}

.landing-slogan a {
    color: $color-vdd-grayish-blue;
    font-family: $text-font-family-tittle;
    font-size: 14px;
    letter-spacing: 3px;
}
