@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

@import './token.scss';

@mixin body($display) {
    display: $display;
    font-family: $text-default-font-family;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    width: 100%;
    height: 100%;
    margin: 0;
}

.landing {
    @include body(flex)
}

h1 {
    font-family: $text-font-family-tittle;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
a {
    display: block;
    text-decoration: none;
    color: $color-white;
    font-size: $text-default-font-size;
    padding-right: 30px;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: $color-yellow;
}

label {
    color: $color-white;
    font-family: $text-font-family-sunnyside;
    font-size: $text-font-size-sunnyside;
}

@mixin header-background($url) {
    background: url($url) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Header Section */
.landing-header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__arrow {
        height: 200px;
        padding-top: 50px;
    }
 
    &__background {
        @include header-background("../images/mobile/image-header.jpg");
        padding: 0px 0px 215px 0px;
    }

    &__tittle {
        text-align: center;
        color: $color-white;
        text-transform: uppercase;
        word-spacing: 7px;
        letter-spacing: 11px;
        font-size: 34px;
        padding-top: 20px;
    }

    &__logo-name {
        font-size: 40px;
    }

    &__nav-bar {
        padding: 20px 50px 60px 30px;
        
        &--right {
            float: right;
            padding-top: 15px;
        }
        &--contact {
            float: right;
        }
        &--contact-bubble {
            color: $color-dark-blue;
            font-family: $text-font-family-tittle;
            font-size: 13px;
            background-color: white;
            padding-left: 30px;
            padding-top: 15px;
            padding-bottom: 15px;
            border-radius: 15% / 50%;
        }
        &--left {
            float: left;
            padding-top: 6px;
        }
    }
}

/* Slogan Section */
.landing-slogan {
    padding: 0;

    &__text-container {
        width: 100%;
        height: 300px;
    }
    &__text-article {
        margin-left: 40px;
        margin-right: 40px;
    }
    &__text-header {
        text-align: center;
        &--title {
            font-family: $text-font-family-tittle;
            color: $color-vdd-grayish-blue;
            font-size: 38px;
            word-spacing: 2px;
            font-weight: bolder;
        }
    }
    &__paragraph {
        color: $color-d-grayish-blue;
        font-size: 24px;
        text-align: center;
    }
    &__footer {
        margin-top: 20px;
        text-align: center;
    }
    &__picture {
        padding: 0;
    }
    &__img-desktop {
        display: none;
    }
    &__img-mobile {
        width: 100%;
        display: flex;
        margin-top: 30px;
    }
    &__learn-more {
        color: $color-vdd-grayish-blue;
        font-family: $text-font-family-tittle;
        font-size: 14px;
        letter-spacing: 3px;
    }
}

@media screen and (min-width: $sm-device) {
    
    .landing {
        @include body(flex)
    }
    /* Header Section */
    .landing-header {
        display: table;
        width: 100%;
        padding: 0;

        &__arrow {
            padding-top: -1px;
        }
        &__background {
            @include header-background("../images/desktop/image-header.jpg");
            padding: 5px 5px 300px 5px;
        }
    }    

    /* Slogan Section */
    .landing-slogan {
        padding: 0;

        &__main-container {
            display: flex;
        }
        &__text-container {
            display: flex;
            align-items: center;
            width: 54%;
        }
        &__text-article {
            margin-left: 150px;
            margin-right: 100px;
        }
        &__text-header {
            text-align: left;
            &--title {
                font-family: $text-font-family-tittle;
                color: $color-vdd-grayish-blue;
                font-size: 38px;
                word-spacing: 2px;
                font-weight: bolder;
            }
        }
        &__paragraph {
            color: $color-d-grayish-blue;
            font-size: 16px;
            text-align: left;
        }
        &__footer{
            margin-top: 40px;
            text-align: left;
        }
        &__picture {
            padding: 0;
        }
        &__img-desktop {
            width: 100%;
            display: flex;
        }
        &__img-mobile {
            display: none;
        }
        &__background {
            width: 100%;
        }
        &__learn-more {
            color: $color-vdd-grayish-blue;
            font-family: $text-font-family-tittle;
            font-size: 14px;
            letter-spacing: 3px;
        }
    }
}
