$xm-device: 375px;
$sm-device: 768px;
$md-device: 1024px;
$lg-device: 1366px;

$font-size: 18px;

$text-default-font-family: sans-serif;
$text-default-font-size: 12px;
$text-default-font-size-title: 26px;
$text-font-family-sunnyside: 'Barlow';
$text-font-family-tittle: 'Fraunces';
$text-font-size-sunnyside: 22px;
$text-weights: 600;

$color-soft-pink: #FEF5F5;
$color-soft-red: hsl(7, 99%, 70%);
$color-yellow: hsl(51, 100%, 49%);
$color-dark-cyan: hsl(167, 40%, 24%);
$color-dark-blue: hsl(198, 62%, 26%);
$color-cyan: hsl(168, 34%, 41%);
$color-dark-blue: hsl(212, 27%, 19%);
$color-vdd-grayish-blue: hsl(212, 27%, 19%);
$color-vd-grayish-blue: hsl(213, 9%, 39%);
$color-d-grayish-blue: hsl(232, 10%, 55%);
$color-grayish-blue: hsl(210, 4%, 67%);
$color-white: hsl(0, 0%, 100%);
